
<div class="container card p-3 mt-4">
    <h4>Update Book</h4>
    <form (ngSubmit) = "onSubmit()">
    
        <div class="form-group my-3">
            <label> Book Id</label>
            <input type="number" class ="form-control" id = "bookid"
                [(ngModel)] = "book.id" name = "bookid" >
        </div>
    
        <div class="form-group my-3">
            <label> Book Name</label>
            <input type="text" class ="form-control" id = "bookName"
                [(ngModel)] = "book.bookName" name = "bookName" >
        </div>
    
        <div class="form-group my-3">
            <label> Author</label>
            <input type="text" class ="form-control" id = "author"
                [(ngModel)] = "book.author" name = "author" >
        </div>

        
        <div class="form-group my-3">
            <label>Book Price</label>
            <input type="number" class ="form-control" id = "bookPrice"
                [(ngModel)] = "book.bookPrice" name = "bookPrice" >
        </div>
    
        <button class="btn btn-success" type="submit">Submit</button>
    
    </form>
    </div>